span.caretBlack{
	border-top-color: black;
}

div#messageSpace{
	height: 30px;
}

p#message{
	height: 30px;
	text-align: center;
	font-size: 20px;
}

div#messagefFailureSpace{
	height: 30px;
}

p#FailureMessage{
	height: 30px;
	text-align: center;
	font-size: 20px;
}