@CHARSET "UTF-8";
td.menu-voice {
	padding: 0px!important;
}

td.menu-voice h2 {
	margin: 0px;
}

td.menu-voice h2 a {
	display: block;
	width: 100%;
	height: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
}

a {
	color : #555;
}